/Tema 3/Practica/WebApplication2/nbproject/private/
/Tema 3/Practica/Ejercicio2/build/
/Tema 3/Practica/Ejercicio1/build/
/Tema 3/Practica3/Ejercicio1/nbproject/private/
/Tema 3/Practica3/Ejercicio2/nbproject/private/
/Tema 3/Practica3/Ejercicio1/build/
/Tema 3/Practica4/AgendaDesktop-sii-p5-master/target/
/Tema 5/Practica7/AgendaEE/AgendaEE-ejb/build/
/Tema 5/Practica7/AgendaEE/AgendaEE-war/build/
/Tema 5/Practica7/AgendaEE/AgendaEE-ejb/dist/
/Tema 5/Practica7/AgendaEE/build/
/Tema 5/Practica7/AgendaEE/dist/
/Tema 5/Practica7/AgendaEE/AgendaEE-war/dist/
/Tema 5/Practica8/ClienteREST/nbproject/private/
/Tema 5/Practica8/ClienteREST/build/
/Tema 5/Practica8/ClienteREST/dist/